<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="plugin.video.ytdlpcast">
        <category id="playback" label="30100">
            <group id="1">
                <setting id="allow_progressive" type="boolean" label="30101" help="30102">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="legacy_manifest_type" type="boolean" label="30103" help="30104">
                    <level>2</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
