<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="plugin.video.ytdlpcast">
        <category id="cast" label="30180">
            <group id="1" label="30180">
                <setting id="cast_enabled" type="boolean" label="30181" help="30182">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="cast_name" type="string" label="30183" help="30184">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <dependencies>
                        <dependency type="enable" setting="cast_enabled">true</dependency>
                    </dependencies>
                    <control type="edit" format="string">
                        <heading>30183</heading>
                    </control>
                </setting>
                <setting id="cast_discovery" type="boolean" label="30185" help="30186">
                    <level>0</level>
                    <default>true</default>
                    <dependencies>
                        <dependency type="enable" setting="cast_enabled">true</dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting id="cast_pair" type="action" label="30187" help="30188">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.ytdlpcast/?action=pair)</data>
                    <dependencies>
                        <dependency type="enable" setting="cast_enabled">true</dependency>
                    </dependencies>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
            </group>
        </category>
        <category id="picture_sound" label="30110">
            <group id="1" label="30110">
                <setting id="rewrite_manifest" type="boolean" label="30150" help="30151">
                    <level>1</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="max_height" type="integer" label="30111" help="30112">
                    <dependencies>
                        <dependency type="enable" setting="rewrite_manifest">true</dependency>
                    </dependencies>
                    <level>1</level>
                    <default>0</default>
                    <constraints>
                        <options>
                            <option label="30113">0</option>
                            <option label="30114">2160</option>
                            <option label="30115">1440</option>
                            <option label="30116">1080</option>
                            <option label="30117">720</option>
                            <option label="30118">480</option>
                        </options>
                    </constraints>
                    <control type="list" format="integer">
                        <heading>30111</heading>
                    </control>
                </setting>
                <setting id="video_codec" type="integer" label="30119" help="30120">
                    <level>1</level>
                    <dependencies>
                        <dependency type="enable" setting="rewrite_manifest">true</dependency>
                    </dependencies>
                    <default>0</default>
                    <constraints>
                        <options>
                            <option label="30121">0</option>
                            <option label="30122">1</option>
                            <option label="30123">2</option>
                        </options>
                    </constraints>
                    <control type="list" format="integer">
                        <heading>30119</heading>
                    </control>
                </setting>
                <setting id="quality_mode" type="integer" label="30152" help="30153">
                    <level>1</level>
                    <default>0</default>
                    <dependencies>
                        <dependency type="enable" setting="rewrite_manifest">true</dependency>
                    </dependencies>
                    <constraints>
                        <options>
                            <option label="30154">0</option>
                            <option label="30155">1</option>
                        </options>
                    </constraints>
                    <control type="list" format="integer">
                        <heading>30152</heading>
                    </control>
                </setting>
                <setting id="audio_mode" type="integer" label="30124" help="30125">
                    <level>1</level>
                    <dependencies>
                        <dependency type="enable" setting="rewrite_manifest">true</dependency>
                    </dependencies>
                    <default>0</default>
                    <constraints>
                        <options>
                            <option label="30126">0</option>
                            <option label="30127">1</option>
                        </options>
                    </constraints>
                    <control type="list" format="integer">
                        <heading>30124</heading>
                    </control>
                </setting>
            </group>
        </category>
        <category id="subtitles" label="30140">
            <group id="1" label="30140">
                <setting id="subtitles_enabled" type="boolean" label="30141" help="30142">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="ytdlp" label="30160">
            <group id="1" label="30160">
                <setting id="ytdlp_info_version" type="string" label="30175">
                    <level>0</level>
                    <default></default>
                    <enable>false</enable>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30175</heading>
                    </control>
                </setting>
                <setting id="ytdlp_info_check" type="string" label="30176">
                    <level>0</level>
                    <default></default>
                    <enable>false</enable>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30176</heading>
                    </control>
                </setting>
                <setting id="ytdlp_channel" type="integer" label="30161" help="30162">
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <options>
                            <option label="30163">0</option>
                            <option label="30164">1</option>
                        </options>
                    </constraints>
                    <control type="list" format="integer">
                        <heading>30161</heading>
                    </control>
                </setting>
                <setting id="ytdlp_auto_update" type="boolean" label="30165" help="30166">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="ytdlp_check_now" type="action" label="30167" help="30168">
                    <level>0</level>
                    <data>RunPlugin(plugin://plugin.video.ytdlpcast/?action=update_ytdlp)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
            </group>
        </category>
        <category id="playback" label="30100">
            <group id="1">
                <setting id="allow_progressive" type="boolean" label="30101" help="30102">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="legacy_manifest_type" type="boolean" label="30103" help="30104">
                    <level>2</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="http_port" type="integer" label="30156" help="30157">
                    <level>2</level>
                    <default>50153</default>
                    <constraints>
                        <minimum>1024</minimum>
                        <maximum>65535</maximum>
                    </constraints>
                    <control type="edit" format="integer">
                        <heading>30156</heading>
                    </control>
                </setting>
            </group>
        </category>
        <category id="diagnostics" label="30200">
            <group id="1" label="30200">
                <setting id="diag_all" type="boolean" label="30201" help="30202">
                    <level>3</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="2" label="30100">
                <setting id="diag_resolve" type="boolean" label="30204" help="30205">
                    <level>3</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable" setting="diag_all">false</dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting id="diag_ytdlp_verbose" type="boolean" label="30206" help="30207">
                    <level>3</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable" setting="diag_all">false</dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting id="diag_manifest" type="boolean" label="30208" help="30209">
                    <level>3</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable" setting="diag_all">false</dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting id="diag_manifest_server" type="boolean" label="30210" help="30211">
                    <level>3</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable" setting="diag_all">false</dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting id="diag_subtitles" type="boolean" label="30212" help="30213">
                    <level>3</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable" setting="diag_all">false</dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting id="diag_player" type="boolean" label="30214" help="30215">
                    <level>3</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable" setting="diag_all">false</dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="3" label="30216">
                <setting id="diag_http" type="boolean" label="30217" help="30218">
                    <level>3</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable" setting="diag_all">false</dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting id="diag_updates" type="boolean" label="30219" help="30220">
                    <level>3</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable" setting="diag_all">false</dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="4" label="30180">
                <setting id="diag_cast" type="boolean" label="30221" help="30222">
                    <level>3</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable" setting="diag_all">false</dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting id="diag_cast_traffic" type="boolean" label="30223" help="30224">
                    <level>3</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable" setting="diag_all">false</dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
                <setting id="diag_discovery" type="boolean" label="30225" help="30226">
                    <level>3</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable" setting="diag_all">false</dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
            </group>
            <group id="5" label="30227">
                <setting id="diag_service" type="boolean" label="30228" help="30229">
                    <level>3</level>
                    <default>false</default>
                    <dependencies>
                        <dependency type="enable" setting="diag_all">false</dependency>
                    </dependencies>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
